# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Dataset
data/



# Training datasets
data/raw/
data/processed/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

#test model
test_model.py

#models
tfidf_vectorizer.pkl