# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

models/*.pkl

data/processed/

data/
*.csv
*.pkl
models/
.ipynb_checkpoints/